<!--header-->
<%- include("partials/header.ejs"); %>

<div class="articles">
    <div class="article-card">
        <div class="card-info">
            <h2>De ce am 칥nceput?</h2>

            <p>Am fost crescut캒 de o mam캒 extraordinar캒 탳i o bunic캒 la fel de minunat캒. Mi-au oferit tot ce am putut s캒-mi imaginez 탳i poate 탳i mai mult, dar cel mai important au f캒cut tot posibilul s캒 칥mi ofere o educa탵ie c칙t mai bun캒. Au vrut s캒 creasc캒 o femeie cu valori 탳i principii, o lupt캒toare, o persoan캒 autosuficient캒 care nu renun탵캒 niciodat캒 la ceea ce i탳i dore탳te. 칉mi place s캒 cred c캒 칥ntr-o mare m캒sur캒 au reu탳it, cel pu탵in mi-a ramas impregnat캒 ideea c캒 pot face absolut orice dac캒 sunt perseverent캒.</p>
            
            <p>Bunica s-a sacrificat toata via탵a pentru familie, 탳i 칥n timp, a uitat c캒 ar trebui s캒 se mai 칥ngrijeasc캒 탳i de ea. C칙t am fost mic캒, nu am v캒zut-o niciodat캒 s캒-탳i cumpere ceva pentru ea, 탳i 칥mi aduc aminte c캒 la un moment dat, am 칥ntrebat-o dac캒 ea doarme, pentru c캒 eu o vedeam mereu treaz캒. A fost cea mai altruist캒 persoan캒 pe care mi-a fost dat s캒 o cunosc, iar prin faptele ei m-a 칥nv캒탵at s캒 fiu 탳i eu la fel. Singura problem캒 aici, este c캒 nu 탳tiam c칙nd 탳i unde s캒 m캒 opresc. Care 칥mi e limita? C칙t de multe p캒r탵i din mine pot da altuia? Dac캒 spun NU vreodat캒, 칥nseamn캒 c캒 sunt egoist캒? Atunci c칙nd 칥mi oferea cineva ceva, sim탵eam c캒 nu pot s캒-i mul탵umesc niciodat캒 suficient de mult ca s캒 echivalez. Doar c캒 mi se acorda aten탵ie atunci c칙nd f캒ceam lucruri pentru altcineva, am 칥nv캒탵at c캒 a탳a pot fi util캒.</p>
            
            <p>탲tiu c캒 avea cele mai sincere inten탵ii 탳i mai ales c캒 era sigur캒 c캒 m캒 칥nva탵캒 lucruri care or s캒 m캒 ajute 칥n via탵캒, pentru c캒 acelea탳i practici au ajutat-o pe ea s캒 supravie탵uiasc캒. Nu 탳tia c캒 mai sunt 탳i alte variante. Iar cu ocazia asta vreau s캒-i mul탵umesc pentru tot ce a f캒cut 탳i pentru tot ce m-a 칥nv캒탵at. A fost exact ce am avut nevoie, altfel nu a탳 mai fi fost persoana care sunt acum.</p>
            
            <p>C칙t timp a tr캒it, nu a avut acces la o educa탵ie emo탵ional캒. Nici nu exista m캒car conceptul de o astfel de educa탵ie, 탳i vreau s캒 schimb asta. Vreau s캒 explic pe 칥n탵elesul tuturor ce 칥nseamn캒 s캒 normaliz캒m nevoia de a lucra cu tine 탳i mai ales la tine. Fac asta pentru oamenii care sunt preg캒ti탵i, vor s캒 asculte 탳i s캒 se 칥mbun캒t캒탵easc캒. Consider c캒 prin educa탵ie putem schimba orice, dar din p캒cate, cel pu탵in la mine 칥n 탵ar캒, educa탵ia emo탵ional캒 칥nc캒 nu este la fel de r캒sp칙ndit캒 탳i normalizat캒 ca educa탵ia de baz캒, la care avem acces cu to탵ii. 游뗵</p>
            
            <p>Cu toate astea, 칥mi imaginez o lume 칥n care ne putem 칥ndruma corect viitorii copii, s캒 putem s캒 칥i 칥nv캒탵캒m s캒 칥탳i 칥n탵eleag캒 탳i s캒 칥탳i gestioneze emo탵iile. 탲i sunt convins캒 c캒 putem face asta cu r캒bdare, dup캒 ce ne 칥ntelegem 탳i pe noi.</p>
            
            <p>Momentan sunt student캒 칥n anul doi la psihologie 탳i urmez 탳i un curs de coaching acreditat ANC, dar p칙n캒 nu voi termina preg캒tirea profesional캒, ajutorul meu nu poate fi considerat complet.</p>
            
            <p>Tot ce scriu aici este informativ, nu supline탳te 칥n niciun fel terapia sau ajutorul dat de c캒tre orice profesionist. 칉l po탵i percepe 칥n orice fel 칥탵i este de ajutor, prin filtrul 탳i experien탵a personal캒 de la momentul 칥n care cite탳ti. Scopul informa탵iei este s캒 te fac캒 s캒 칥탵i pui ni탳te 칥ntreb캒ri 칥n cazul 칥n care ai orice nelini탳te.</p>
            
            <p>Cum am precizat 탳i mai sus, 칥n cultura mea nu este r캒sp칙ndit캒 practica introspec탵iei, 탳i 칥n niciun caz nu este v캒zut캒 cu ochi buni. Adesea ne temem de ceea ce ar putea s캒 spun캒 ceilal탵i despre noi, 탳i 칥ncerc캒m din r캒sputeri s캒 ne ascudem p칙n캒 탳i cea mai mic캒 emo탵ie negativ캒. 칉ncerc캒m s캒 fim perfec탵i 칥ntr-o societate dur캒, uit칙nd complet c캒 probabil 탳i ceilal탵i oameni au acelea탳i frici ca noi. Dar despre asta vom discuta mai pe larg.</p>
            
            <p>Este important s캒 칥n탵elegem c캒 nu suntem singuri 칥n lupta pe care o ducem, doar c캒 fiecare om interpreteaz캒 lucrurile diferit, trec칙ndu-le prin propriul filtru 탳i baz칙ndu-se pe experien탵ele trecute, interac탵iunile sociale, credin탵e, etc.</p>

            <p>Sunt recunosc캒toare c캒 am ocazia s캒 칥mp캒rt캒탳esc lucrurile pe care le-am 칥nv캒탵at p칙n캒 acum, 탳i sper ca s캒 v캒 fie de ajutor, a탳a cum mi-au fost 탳i 칥nc캒 칥mi sunt 탳i mie.</p>
        </div>
    </div>    
</div>

<!--footer-->
<%- include("partials/footer.ejs"); %>