<!--header-->
<%- include("partials/header.ejs"); %>

<form class="form" action="/contact" method="POST">
    <h1>Contact</h1>
    <label>Email</label>
    <input type="text" name="email" required>
    <label>Subiect</label>
    <input type="text" name="subject" required>
    <label>Mesaj</label>
    <textarea name="content" rows="7"></textarea>                
    <button type="submit" name="button">Trimite</button>
</form>

<!--footer-->
<%- include("partials/footer.ejs"); %>