<!--header-->
<%- include("partials/header"); %>


<div class="articles">
    <div class="article-card">
        <img src="/images/sa-invatam-sa-fim-asertivi.jpg">
        <div class="card-info">
            <h2>Sa invatam sa fim asertivi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officia neque cupiditate, quam velit magni deserunt soluta, ut aperiam eum vitae sed. Eos tempore libero, ducimus ab quam porro enim.</p>
            <div class="author-card">
                <p>Postat la blabla de blabla</p>
            </div>
        </div>
    </div>
    <div class="article-card">
        <img src="/images/sa-invatam-sa-fim-asertivi.jpg">
        <div class="card-info">
            <h2>Sa invatam sa fim asertivi</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa officia neque cupiditate, quam velit magni deserunt soluta, ut aperiam eum vitae sed. Eos tempore libero, ducimus ab quam porro enim.</p>
            <div class="author-card">
                <p>Postat la blabla de blabla</p>
            </div>
        </div>
    </div>            
</div>
            
            

<!--footer-->
<%- include("partials/footer"); %>