* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background-image: url("/images/background.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
}

h3, h2, p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(67, 25, 105, 0.7);
}

h2 {
    font-size: 17px;
}

a {
    text-decoration: none;
    color: rgba(67, 25, 105, 0.7);
}

.glass {
    background: white;
    min-height: 80vh;
    width: 85%;
    background: linear-gradient(to right bottom, rgba(248, 136, 243, 0.5), rgba(248, 136, 243, 0.1));
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    display: flex;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right bottom, rgba(219, 127, 215, 0.5), rgba(219, 127, 215, 0.1));
    border-radius: 2rem;
    text-align: center;
    box-shadow: 6px 6px 25px rgba(122, 122, 122, 0.3);
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}
 
.user img {
    width: 100px;
    height: 100px;
}

.link img {
    margin: 0.7rem;
}

.article-card img {
    width: 180px;
    height: 200px;
    margin: 1rem;
    border-radius: 2rem;
}

.articles {
    flex: 4;
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.article-card{
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    justify-content: space-between;
}

.card-info p, h2{
    margin: 1rem;
}

