* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: url("/images/background.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: rgba(67, 25, 105, 0.7);
}

.logo h1, a {
    text-decoration: none;
    font-size: 27px;
    font-weight: 900;
    color: rgb(82, 31, 222);
} 

.link a {
    text-decoration: none;
    color: rgb(82, 31, 222);
}

.glass {
    background: white;
    max-height: 80vh;
    width: 85%;
    background: linear-gradient(to right bottom, rgba(114, 82, 203, 0.7), rgba(114, 82, 203, 0.1));
    border-radius: 2rem;
    backdrop-filter: blur(1rem);
    display: flex;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
    border-radius: 2rem;
    text-align: center;
    box-shadow: 6px 6px 25px rgba(122, 122, 122, 0.3);
}

.link {
    display: flex;
    margin: 2rem 0rem;
    padding: 0.5rem 5rem;
    align-items: center;
}

.admin-link {
    display: flex;
    margin: 2rem 0rem;
    padding: 0rem 3rem;
    align-items: center;
}
 
.logo img {
    width: 150px;
    height: 150px;
}

.link img {
   margin: 0.7rem;
}

.article-card img {
    width: 180px;
    height: 200px;
    margin: 1rem;
    border-radius: 2rem;
}

.articles {
    flex: 4;
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.article-card{
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
}

.form {
    flex: 4;
    margin: 3rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    border-radius: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.form textarea {
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    width: 70vh;
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    outline: none;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form input {
    margin: 2rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    border-radius: 1rem;
    height: 2rem;
    width: 70vh;
    outline: none;
    border: 0;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form button {
    margin: 1rem;
    border-radius: 1rem;
    height: 2rem;
    width: 5rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    outline: none;
    border: 0;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(67, 25, 105, 0.7);
}

.form h1 {
    top: 1rem;
    margin-bottom: 2rem;
    color: rgba(67, 25, 105, 0.7);
}

.form label {
    color: rgba(67, 25, 105, 0.7);
    font-size: 20px;
}

.card-info a {
    text-decoration: none;
    color: rgba(67, 25, 105, 0.7);
    font-weight: bolder;
    font-size: 15px;
}

.card-info h2 {
    color: rgba(67, 25, 105, 0.7);
    padding: 1rem;
}

.card-info p {
    color: rgba(67, 25, 105, 0.7);
    margin: 1rem;
}

.card-info-single h2 {
    color: rgba(67, 25, 105, 0.7);
    margin: 2rem;
    text-align: center;
}

.card-info-single a {
    text-decoration: none;
    color: rgba(67, 25, 105, 0.7);
    font-weight: bolder;
    font-size: 15px;
}

.card-info-single p {
    color: rgba(67, 25, 105, 0.7);
    margin: 1rem;
}

.about-articles {
    position: relative;
    flex: 4;
    margin: 3rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.about-article-card {
    display: flex;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
    border-radius: 1rem;
    margin: 2rem 0rem;
    padding: 1rem;
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    justify-content: space-between;
    overflow: scroll;
}

.scroll-section {
    overflow: scroll;
}

.scroll-section-modify {
    overflow: scroll;
    display: flex;
    flex: 4;
}

.form a {
    color: rgba(67, 25, 105, 0.7);
    font-size: 17px;   
}

.img-post img{
    width: 30%;
    height: 60%;
    border-radius: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.author-card {
   padding-bottom: 1rem;
}

.img-post {
    margin: 0;
}

.about-article-card img {
    display: flex;
}

.modify-btn {
    display: flex;
    flex-direction: column;
}

.posts-list a {
    text-decoration: none;
    color: rgba(67, 25, 105, 0.7);
    font-weight: bolder;
    font-size: 15px;
    margin: 1rem;
}

.posts-list h2 {
    color: rgba(67, 25, 105, 0.7);
    text-align: center;
    padding: 2rem;
}

.posts-list p {
    color: rgba(67, 25, 105, 0.7);
    margin: 1rem;
}

.card-info-span {
    padding-left: 1rem;
}

.scroll-section-edit {
    height: 35vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.form-edit {
    height: 30vh;
    margin: 3rem;
    padding: 1rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    border-radius: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: scroll;
}


.form-edit textarea {
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    width: 100vh;
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    outline: none;
    border: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-edit input {
    margin: 2rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    border-radius: 1rem;
    height: 2rem;
    width: 100vh;
    outline: none;
    border: 0;
    padding: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.form-edit button {
    text-align: center;
    margin: 1rem;
    border-radius: 1rem;
    height: 2.5rem;
    width: 6rem;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
    box-shadow: 6px 6px 25px rgba(73, 73, 73, 0.4);
    outline: none;
    border: 0;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(67, 25, 105, 0.7);
    display: flex;
    align-items: center;
    justify-content:center;
}

.form-edit h1 {
    top: 1rem;
    margin-bottom: 2rem;
    color: rgba(67, 25, 105, 0.7);
    text-align: center;
}

.form-edit label {
    color: rgba(67, 25, 105, 0.7);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-seg {
    display: flex;
    justify-content: center;
}
